<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/amazon-logo-1024x683.png') }}" type="image/x-icon">

</head>
<body>
    <header>
        <div class="navbar">
            <div class="Nav-Logo border">
                <div class="Logo"></div>
            </div>
            <div class="nav-address border">
                <p class="add2">Deliver</p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add1">India</p>
                </div>
            </div>    
            <div class="nav-search">
                <select class="all">
                    <option>All</option>
                </select>
                <input class="sea" placeholder="Search Amazon">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>    
            <div class="nav-Am border">
                <div class="Un">
                    <i class="fa-solid fa-flag"></i>
                </div>
                <select class="rica">
                    <option>En</option>
                </select>
            </div> 
            <div class="nav-sigin border" onclick="window.location.href='/login'">
                <p><option>sign in</option></p>
                <p class="nav2">Accounts & List</p>
            </div>
            <div class="nav-returns border">
                <p><span>Returns</span></p>
                <p class ="nav3">& Orders</p>
            </div>
            <div class="nav-cart border">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
            </div>
        </div> 
        <div class="Anchor ">
            <div class="panel border1">
                <i class="fa-solid fa-bars"></i>
                All
            </div>
            <div class="panel-ops border1">
                <p>Today's Deals</p>
                <p>Custmer Service</p>
                <p>Registery</p>
                <p>Gift Cards</p>
                <p>Sell</p>
                <p>Mobiles</p>
                <p>Electronics</p>
            </div>
            <div class="panel-deals border1">
                <p class="Great">Great Indian Festival</p>
                <div class="Festival">
                    <i class="fa-solid fa-snowflake"></i>
                    <p class="Shop">Shop Now</p>
                </div>
            </div>
        </div>      
    </header>
    <div class="Hero-section">
        <div class="Hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery.<a> CLick here to Amazon.in</a></p>
        </div>
    </div>
    <div class="Box">
        <div class="box1">
            <h1 id="Fo">Up to 80% off | Electronics & accessories</h1>
            <div class="Box-ig"  style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/Img23/Budget3/REC-PC_CC_379x304._SY304_CB564096366_.jpg');"></div>
            <a href="https://www.amazon.in/l/976419031/?_encoding=UTF8&pd_rd_w=CdHKn&content-id=amzn1.sym.3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_p=3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_r=DHGKPXZ191X955H8X0A6&pd_rd_wg=dYCth&pd_rd_r=39f3e861-22e0-4e69-80ec-cd74f7d623ad&ref_=pd_hp_d_atf_unk">See all offers</a>
        </div>

        <div class="box1">
            <h1 id="up">Starting ₹6,999 | Upgrade to 4K TVs</h1>
            <div class="tv" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/IMG23/TVs/nikita/1/1/Samsung_Mi_PC_CC_379x304._SY304_CB562051643_.jpg');"></div>
            <a href="https://www.amazon.in/l/976419031/?_encoding=UTF8&pd_rd_w=CdHKn&content-id=amzn1.sym.3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_p=3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_r=DHGKPXZ191X955H8X0A6&pd_rd_wg=dYCth&pd_rd_r=39f3e861-22e0-4e69-80ec-cd74f7d623ad&ref_=pd_hp_d_atf_unk">See all offers</a>
        </div>
        <div class="box1">
            <h1 id="Fa">Up to 80% off | Electronics & accessories</h1>
            <div class="igg1">
                <div class="img1" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2024/GW/Jupiter/BTF/PCQC/1x/New/Kurtas_372x232._SY116_CB562046867_.jpg');"></div>
                <div class="img2" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2024/GW/Jupiter/BTF/PCQC/1x/New/Tops_372x232._SY116_CB562046867_.jpg');"></div>
            </div>
            <div class="Kurtas">
            <h1 id="Cl">Kurtas</h1>
            <h1 id="Cl1">Tops</h1>
            </div>
            <div class="mind">
                <div class="img3" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2024/GW/Jupiter/BTF/PCQC/1x/New/Dresses_372x232._SY116_CB562046867_.jpg');"></div>
                <div class="img4" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2024/GW/Jupiter/BTF/PCQC/1x/New/Sarees_372x232._SY116_CB562046867_.jpg');"></div>
            </div>
            <div class="jeans">
                <h1 id="Dresses">Dresses</h1>
                <h1 id="Sarees">Sarees</h1>
            </div>
            <a href="https://www.amazon.in/l/976419031/?_encoding=UTF8&pd_rd_w=CdHKn&content-id=amzn1.sym.3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_p=3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_r=DHGKPXZ191X955H8X0A6&pd_rd_wg=dYCth&pd_rd_r=39f3e861-22e0-4e69-80ec-cd74f7d623ad&ref_=pd_hp_d_atf_unk">See all offers</a>
        </div>
        <div class="box1">
            <h1 id="iu">Minimum 50% off | Home, kitchen & more</h1>
            <div class="igg2">
                <div class="img5" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/OHL/Jup24/GW/PC_QC_1_1x._SY116_CB562243010_.jpg');"></div>
                <div class="img6" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/OHL/Jup24/GW/PC_QC_2_1x._SY116_CB562243010_.jpg');"></div>
            </div>
            <div class="Freeze">
                <h1 id="Ac">Kitchen Appliances</h1>
                <h1 id="Dc">Home Decor</h1>
            </div>
            <div class="igg3">
                <div class="img7" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/OHL/Jup24/GW/PC_QC_3_1x._SY116_CB562243010_.jpg');"></div>
                <div class="img8" style="background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/OHL/Jup24/GW/PC_QC_4_1x._SY116_CB562243010_.jpg');"></div>
            </div>
            <div class="Furniture">
                <h1 id="wood">Furniture</h1>
                <h1 id="teak">Home improvement</h1>
            </div>
            <a href="https://www.amazon.in/l/976419031/?_encoding=UTF8&pd_rd_w=CdHKn&content-id=amzn1.sym.3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_p=3f06af1b-043f-4cb2-a939-de0e94880727&pf_rd_r=DHGKPXZ191X955H8X0A6&pd_rd_wg=dYCth&pd_rd_r=39f3e861-22e0-4e69-80ec-cd74f7d623ad&ref_=pd_hp_d_atf_unk">See all offers</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/.js') }}"></script>
</body>
</html>

